# Archivo: .gitignore

# Entorno Virtual
/venv/
__pycache__/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de medios subidos por el usuario (datasets)
/media/

# Archivos de log
*.log

# Base de datos local (si se usa SQLite, lo cual no es nuestro caso, pero es bueno tenerlo)
*.sqlite3

# Archivos de entorno para secretos (práctica recomendada para el futuro)
.env